@charset "UTF-8";
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    padding: 15px;
    text-align: center;
    color: blue;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#highlight-para {
    width: 60%;
}

#highlight-para th {
    padding-bottom: 15px;
    text-align: left;
    width: 30%;
}

#highlight-para td {
    padding-bottom: 15px;
    text-align: left;
    width: 20%;
}

/* #infor-para {
    padding: 30px;
    width: 80%;
    text-align: center;
}

#infor-para th {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 15%;
    background-color: #2090E9;
}

#infor-para td {
    padding-bottom: 10px;
    padding-top: 10px;
} */

.table-scroll{
    width:80%;
    display: block;
    empty-cells: show;
    
    /* Decoration */
    border-spacing: 0;
    border: 1px solid;
  }
  
  .table-scroll thead{
    background-color: #f1f1f1;  
    position:relative;
    display: block;
    width:100%;
  }
  
  .table-scroll tbody{
    /* Position */
    display: block; 
    position:relative;
    width:100%;
    overflow-y:scroll;
    overflow-x: hidden;
    /* Decoration */
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  
  .table-scroll tr{
    width: 100%;
    display:flex;
  }
  
  .table-scroll td,.table-scroll th{
    flex-basis:20%;
    flex-grow:2;
    display: block;
    padding: 1rem;
    text-align:center;
  }
  
  /* Other options */
  
  .table-scroll.small-first-col td:first-child,
  .table-scroll.small-first-col th:first-child{
    flex-basis:20%;
    flex-grow:1;
  }
  
  .table-scroll tbody tr:nth-child(2n){
    background-color: rgba(130,130,170,0.1);
  }
  
  .body-half-screen{
    max-height: 50vh;
  }
  
  .small-col{flex-basis:10%;}

/* Button */

#toggleButton {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px;
    width: 80px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}